:host ::ng-deep .p-dropdown{
  width: 100%;
}
:host ::ng-deep .p-dropdown-label{
  padding: 5px;
}
:host ::ng-deep .p-dropdown-items{
  padding: 3px;
  margin: 0;
}
:host ::ng-deep .p-dropdown-item{
  padding:3px;
}