.landing{
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
position: relative;
transition: 0.5s;

}
.landing::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #616161a2;


}
::ng-deep .p-carousel-item{
  filter: brightness(0.3);
  transition: 0.3s;
}
::ng-deep .p-carousel-item-start{
  filter: brightness(1);
  transition: 0.3s;
}
::ng-deep .p-ripple{
  background-color: whitesmoke;
  border-radius: 4px;
  margin: 5px;
}